<li id="row">
    <img height="270px" width="200px" src="<%=book.image_url %>" alt="">
    <h3> <%= book.title %> </h3>
    <p> <%= book.author %> </p>
    <p id="desc"> <%= book.description %> </p>
    <p> <%= book.amount %> </p>
</li>