<!-- <form id = 'detailForm'>
    <input class="hiddenForm" name="title" value="<%= book.title %>" />
    <input class="hiddenForm"  name="authors" value="<%= book.authors %>" />
    <input class="hiddenForm" name="isbn" value="<%= book.isbn %>" />
    <input class="hiddenForm" name="image_url" value="<%= book.image %>" />
    <input class="hiddenForm" name="description" value="<%= book.description %>" />
    <input class="hiddenForm" name="bookshelf" value="<%= book.bookshelf %>" />
    
</form> -->