<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" href = "public/styles/base.css" >
        <title> Hello World </title>
    </head>
    <body>
        <h1>
            Search for Books
        </h1>

        <ul>
            <% books.forEach(books => { %>
                <li id="row">
                    <img height="270px" width="200px" src="<%=books.image_url %>" alt="">
                    <h3> <%= books.title %> </h3>
                    <p> <%= books.author %> </p>
                    <p id="desc"> <%= books.description %> </p>
                    <p> <%= books.amount %> </p>
                </li>

            })
        </ul>
        <form action="/searches" method="post">

            <fieldset>
                <input type="text" name="search" placeholder="search..." required>
            </fieldset>
            <fieldset>
                <input type="radio" name="searchby" value="title" required>Title
            </fieldset>
            <fieldset>
                <input type="radio" name="searchby" value="author" required>Author
            </fieldset>
            <button type="submit">Search Books</button>


        </form>
    </body>
</html>